html
  head
    title fitTrack
    link(rel="stylesheet" href="/styles.css")
  body(class="body")
  h1 FitTrack
  a(href=`/workout/${user.userId}` class="nav") workout
  a(href=`/meals/${user.userId}` class="nav") meals
  p Welcome 
    a(href=`/profile/${user.userId}`) #{user.username}
   
    


  h2 meal
  table(style='width:70%', border='1')
    thead
        tr 
        th Date
        th Food Item
        th Calories
    tbody
       each meal in meals
        tr
            td #{meal.date}
            td #{meal.foodItem}
            td #{meal.calories}

  form(action=`/meals/${user.userId}` method="POST")
    label(for="date") Date:
    input(type="text" name="date" id="date" required)
    label(for="foodItem") Food Item:
    input(type="text" name="foodItem" id="foodItem" required)
    label(for="calories") calories:
    input(type="textarea" name="calories" id="calories" required)
    button(type="submit") Add