doctype html
html
  head
    title Post List
    link(rel="stylesheet" href="/styles.css")
  body(class="body")
    h1 #{user.username}'s posts

    h2 Filter Posts 
    form(action=`/${user.id}` method="GET")
      label(for="filterTitle") Filter by Title: 
      input(type="text" name="filterTitle" id="filterTitle")
      button(type="submit") Filter

    ul
      each post in posts
        li 
            p(class="title") title: #{post.title}
            p content: #{post.content}
            div.inline-elements
              a(href=`/${user.id}/${post.id}` class="inline") edit
              form(action=`/${user.id}/${post.id}?_method=DELETE` method="POST" class="inline") 
                button(type="submit") Delete

    h2 Add New post
    form(action=`/${user.id}` method="POST")
      label(for="title") Title:
      input(type="text" name="title" id="title" required)
      label(for="content") Content:
      input(type="textarea" name="content" id="content" required)
      button(type="submit") Add Post