html
  head
    title FitTrack
    link(rel="stylesheet" href="/styles.css")
  body(class="body")
  h1 FitTrack
  a(href=`/workout/${user.userId}` class="nav") workout
  a(href=`/meals/${user.userId}` class="nav") meals
  p Welcome 
     a(href=`/profile/${user.userId}`) #{user.username}
   
    


  h2 workout
  table(style='width:70%', border='1')
    thead
        tr 
        th Date
        th Type
        th Duration
    tbody
       each workout in workouts
        tr
            td #{workout.date}
            td #{workout.workoutType}
            td #{workout.duration}

  form(action=`/workout/${user.userId}` method="POST")
    label(for="date") Date:
    input(type="text" name="date" id="date" required)
    label(for="type") Type:
    input(type="text" name="type" id="type" required)
    label(for="duration") Duration:
    input(type="textarea" name="duration" id="duration" required)
    button(type="submit") Add